<style media="screen">
  .boxy{
    border:2px solid #000;
    height:550px;
  }
</style>

<a href="/">HOME</a>

<div class="container">
  <div class="row col-sm-12">
    <div class="">
      <h2>Welcome, {{msg}}</h2>
    </div>
    <div class="col-sm-5">
      <div class="boxy">
        <h3>My Summary</h3>
        <h5>First Name</h5>
        <p>{{msg}}</p>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="boxy">
        <h3>My Summary</h3>
        <h5>First Name</h5>
        <p>{{msg}}</p>
      </div>
    </div>
  </div>
</div>
