
<div class="main-content">

        <!-- You only need this form and the form-basic.css -->

  <div class="container">
    <div class="trans row col-sm-12" align="center">
      <form class="form-basic" align="center" method="post" action="/profile">

          <div class="form-row">
              <h1 style="opacity:0.9;">New User Sign Up</h1>
          </div>

          <div class="form-row">
            <label for="">Username</label>
            <input type="text" name="username" value="" required>
          </div>
          <div class="form-row">
            <label for="">Password</label>
            <input type="text" name="password" value="" required>
          </div>
          <div class="form-row">
            <label for="">First Name</label>
            <input type="text" name="first_name" value="" required>
          </div>
          <div class="form-row">
            <label for="">Last Name</label>
            <input type="text" name="last_name" value="" required>
          </div>

          <!-- <div class="form-row">
              <label>
                  <span>Select One</span>
                  <select name="dropdown">
                      <option>Own A ...</option>
                      <option>Own A Small Boat</option>
                      <option>Own A Medium-Sized Boat</option>
                      <option>I Do Not Own A Boat</option>
                  </select>
              </label>
          </div> -->

          <!-- <div class="form-row">
              <label>
                  <span>Bio:</span>
                  <textarea name="bio"></textarea>
              </label>
          </div>

          <div class="form-row">
              <label>
                  <span>Checkbox</span>
                  <input type="checkbox" name="checkbox" checked="">
              </label>
          </div> -->

          <!-- <div class="form-row">
              <label><span>Radio</span></label>
              <div class="form-radio-buttons">

                  <div>
                      <label>
                          <input type="radio" name="radio">
                          <span>Radio option 1</span>
                      </label>
                  </div>

                  <div>
                      <label>
                          <input type="radio" name="radio">
                          <span>Radio option 2</span>
                      </label>
                  </div>

                  <div>
                      <label>
                          <input type="radio" name="radio">
                          <span>Radio option 3</span>
                      </label>
                  </div>

              </div>
          </div> -->

          <div class="form-row">
              <button type="submit">Submit Form</button>
          </div>

      </form>

    </div>
  </div>



</div>
